/* ---------------FONTS------------------ */
@font-face {
  font-family: Optima;
  src: url("fonts/optima.ttf");
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196F3;
  /* padding: 10px; */
}c

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}

/* ---------------NAVIGATION------------------ */
nav {
  display: flex;
  justify-content: space-around;
  font-family: Optima;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

nav ul li {
  display: inline;
  cursor: pointer;
}

.option-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.contact-container{
  display: grid;
  grid-template-columns: auto auto;
}

.author-container{
  display: grid;
  grid-template-columns: auto auto;
}

.rating-container{
  display: grid;
  grid-template-columns: auto auto auto;
}


.grid-rating1, .grid-rating2, .grid-rating3, .grid-rating4, .grid-rating5, .grid-rating6 {
  background-color: yellow;
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}

.grid-box1 ,.grid-box2, .grid-box3, .grid-box4, .grid-box5, .grid-box6, .grid-box7 {
  background-color: yellow;
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}




/* ---------------DESKTOP------------------ */

.grid-box5 {
  background-image: url("images/girl-books.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#author {
  border-radius: 50%;
}

#frequently {
  background-image: url("images/bookglasses.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.faqText {
  background-color: grey;
  margin: 20px;
}


/* -------------FORM------------ */
form {
background: rgba(0, 0, 0, 0.7);
}

.title {
display: flex;
align-items: center;
margin-bottom: 20px;
}

.info {
display: flex;
flex-direction: column;
}

input, select {
padding: 5px;
margin-bottom: 30px;
background: transparent;
border: none;
border-bottom: 1px solid #eee;
}

input::placeholder {
color: #eee;
}


option:focus {
border: none;
}
option {
background: black;
border: none;
}

.checkbox input {
margin: 0 10px 0 0;
vertical-align: middle;
}

.checkbox a {
color: #26a9e0;
}

.checkbox a:hover {
color: #85d6de;
}

.btn-item, button {
padding: 10px 5px;
margin-top: 20px;
border-radius: 5px;
border: none;
background: #26a9e0;
text-decoration: none;
font-size: 15px;
font-weight: 400;
color: #fff;
}

.btn-item {
display: inline-block;
margin: 20px 5px 0;
}

button {
width: 100%;
}

button:hover, .btn-item:hover {
background: #85d6de;
}

/* -------------FOOTER------------ */
footer {
  background-image: url('images/sunglasses.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  color: white;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 40%;
}

footer div p {
  display: inline;
}

footer a {
  text-decoration: none;
  color: white;
}