/* ---------------FONTS------------------ */
@font-face {
  font-family: Optima;
  src: url("fonts/optima.ttf");
}

body {
  margin: 0;
}


#scrollUp {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 2;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}



/* ---------------COLOR------------ */

:root {

  --star-rating-color: #D7E109;
  --blue-rating-color: #0982E1;
  --nav-color: #f8f2e5;
}


/* ---------------NAVIGATION------------------ */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Optima;
  font-size: 2rem;
  background-color: var(--nav-color);
  height: 10vh;
  padding: 0.5em;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

nav ul li {
  display: inline;
  cursor: pointer;
}

#menuToggle {
  height: 50%;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: none;
  background-color: var(--nav-color);
  justify-self: center;
  align-self: center;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
}

.option-container{
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: Optima;
  font-style: italic;
}

.contact-container{
  display: grid;
  grid-template-columns: auto auto;
}

.author-container{
  display: grid;
  grid-template-columns: auto auto;
}

.rating-container{
  display: grid;
  grid-template-columns: auto auto auto;
}


.grid-rating1, .grid-rating2, .grid-rating3, .grid-rating4, .grid-rating5, .grid-rating6 {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
  font-family: Optima;
  padding: 15px;
}

.grid-box1 ,.grid-box2, .grid-box3, .grid-box4, .grid-box5, .grid-box6, .grid-box7 {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}

.grid-box4 form {
  padding: 1.5em;
}

.title {
  font-family: Optima;
  font-style: italic;
}

.grid-box7 h1 {
  font-style: italic;
}




/* ---------------SERVICES PAGES------------ */
.grid-container-services {
  display: grid;
  grid-template-columns: auto;
}

.confirmation-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 90px;
}




.descriptionEditing {
  height: 700px;
  padding: 30px;
  /* border: solid black; */
}

.descriptionText {
  /* padding: 30px; */
}

.actionEditing {
  /* border: solid black; */
}

.confirmationEditing {
  padding-top: 90px;
}



/* ---------------DESKTOP------------------ */




#frequently > h1 {
  text-align: center;
}

h1 {
  font-family: Optima;
}

p {
  font-family: Optima;
}


.edit {
  font-family: Optima;
  background-color: #F8F2E6;
  padding: 30px;
  margin: 0px;
  font-size: 3rem;
}

.edit a {
  text-decoration: none;
  color: black;
}

.grid-item.hero {
  height: 800px;
  background: url("images/hero-main.jpg")
}

#exploreButton {
  background-color: #F8F2E6;
  color: black;
  position: absolute;
  top:35%;
  left: 35%;
  padding: 30px;
  font-size: 40px;
  font-family: Optima;
  width: 70px;
}

h1:hover {
  margin: 40px;
}

.grid-box5 {
  background-image: url("images/girl-books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.service {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.basic {
  background-image: url("images/legs-book.jpg");
}

.extended {
  background-image: url("images/treebook.jpg");
}

.resume {
  background-image: url("images/night.jpg");
}

#author {
  border-radius: 50%;
  margin-top: 20px;
  width: 420px;
  height: 350px;

}

#frequently {
  background-image: url("images/bookglasses.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  padding: 2em;
 }

#frequently ul {
  list-style-type: none;
}

#frequently h1 {
  font-size: 2em;
  font-style: italic;
}

#frequently div {
  font-size: 1em;
  font-family: Optima;
}

.faqText {
  margin: 20px;
  position: absolute;
  padding: 45px;
  height: 400px;
  font-size: 1em;
}

.backOpacity {
}

.faq {

}

.aboutMeText {
  margin-left: 60px;
  margin-right: 60px;
}

/*------------ Rating Section ------------ */
.rating-image {
  border-radius: 50%;
  width: 140px;
  height: 120px;
  padding: 0;
  margin: 0px;
  float: left;
}

.rating-name {
  color: var(--blue-rating-color);
  padding: 0px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.rating-date {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.rating-text {
  padding: 0px;
  margin: 0px;
}

.rating-star {
  color: #ffff00;
  margin: 0px;
  color: var(--star-rating-color);
}


.grid-item.rating-container {
  padding: 70px;
}

.grid-item.author-container {
  padding: 50px;
}

div.grid-box7 > p {
  margin: 30px;
}

/* -------------CONFIMRSTION FORM------------ */





/* -------------FORM------------ */

#submitButton {
  margin-top: 25px;
}


textarea {
  height: 90px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

#h2Contact {
  margin: 0px;
}


form {
background: rgba(0, 0, 0, 0.7);


}

.title {
display: flex;
align-items: center;
}

.info {
display: flex;
flex-direction: column;
margin-left: 50px;
margin-right: 50px;
}

input, select {
padding: 5px;
margin-bottom: 30px;
background: transparent;
border: none;
border-bottom: 1px solid #eee;
font-size: 2rem;
}

input::placeholder {
color: #eee;
}


option:focus {
border: none;
}
option {
background: black;
border: none;
}

.checkbox input {
margin: 0 10px 0 0;
vertical-align: middle;
}

.checkbox a {
color: #26a9e0;
}

.checkbox {
color: #85d6de;
}

.btn-item, button {
padding: 10px 5px;
border-radius: 5px;
border: none;
background: black;
text-decoration: none;
font-size: 20px;
font-weight: 400;
color: #fff;

}

.btn-item {
display: inline-block;
margin: 20px 5px 0;
}



.btn {
  width: 30px;
}

button:hover, .btn-item:hover {
/* background: #85d6de; */
background: var(--nav-color);
color: black;
}



/* -------------FOOTER------------ */
footer {
  background-image: url('images/sunglasses.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Optima;
  font-size: 1.4rem;
}

.footer_layer_one {
  /* display: flex; */
  justify-content: space-around;
  align-self: flex-end;
  width: 100%;
}

.footer_layer_two {
  /* display: flex; */
  justify-content: space-around;
  align-self: flex-end;
  width: 100%;
}

footer div p {
  display: inline;
}

footer a {
  text-decoration: none;
  color: white;
}

/* -------------MEDIA QUERIES------------ */
@media only screen and (max-width: 1025px) {

  .service {
    height: 50vh;
  }

  #frequently {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #frequently div {
    font-size: 2rem;
  }

  .backOpacity {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  form input, form select, form textarea, form button {
    font-size: 2rem;
  }

  form textarea {
    height: 20vh;
  }

  footer {
    height: 20vh;
    color: black;
    font-size: 1.9rem;
  }

  footer a {
    color: black;
  }

}

@media only screen and (max-width: 818px) {

  .author-container {
    grid-template-columns: unset;
  }

  footer {
    font-size: 1.5rem;
  }

  footer div {
    width: 80%;
  }

}

@media only screen and (max-width: 568px) {

  #menuToggle {
    display: inline;
  }

  nav {
    font-size: 1.7rem;
    width: 90%;
    justify-content: space-around;
  }

  nav ul, nav p {
    visibility: hidden;
  }

  nav ul {
    width: 60%;
  }

  .nav {
    display: flex;
    background-color: var(--nav-color);
    justify-content: space-between;
  }

  .grid-item.hero {
    height: 50vh;
    display: flex;
    justify-content: center;
  }

  .contact-container {
    display: block;
  }

  .grid-box5 {
    display: none;
  }

  #exploreButton {
    width: auto;
    left: unset;
    top: unset;
    position: unset;
    align-self: center;
  }

  #frequently {
    padding: 1em;
  }

}

@media only screen and (max-width: 414px) {}
